<strong>Password Recovery</strong>

<p>You have a password recovery request for the mail ({{ email }}). If you weren't the request author, please disconsider the message. </p>

<p> To continue with password recovery, use the token {{ token }} or click the link below. </p>

<a href="{{link}}">Create new Password</a>
